<%= form_for @login_form, url: login_path, as: :login do |f| %>
  <%= f.label :email, "What's your email?" %>
  <%= f.email_field :email %>
  <%= f.submit "Create your account" %>
<% end %>

<!---- <label>
  What's your email?
  <input type="email" name="email">
  <button>"Create your account"</>
</label> ---->